@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', serif;
    margin: 0px;
}

.header,
.footer {
    background-color: #1F2937;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 256px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 0px 32px;
    font-size: 18px;
    color: #E5E7EB
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.sign-up-header {
    font-size: #3882F6;
}
/* .nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    width: 66%;
    gap: 0px 32px;
} */


/* .first-section {
    background-color: #1F2937;
    border-color: #1F2937;
}

#header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 512px;
}

ul {
    list-style-type: none;
    display: flex;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
} */