@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', serif;
    margin: 0px;
}

.header,
.footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-bar {
    display: flex;
    align-items: center;
    width: 70%;
}

.header-logo {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    list-style-type: none;
    gap: 0px 32px;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
}

.content {
    display: flex;
    margin: 70px 0 100px 0;
    width: 70%;
}

.content-left {
    width: 50%;
}

.content-right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.sign-up-header {
    background-color: #3882F6;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 10px;
}

.info-title {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: bolder;
    color: #1F2937;
    margin: 32px;
}

.info-images-list {
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
    gap: 0 62px;
}

.info-image {
    display: flex;
    flex-basis: 5%;
    flex-direction: column;
}